html {
    pointer-events: none; /* Don't catch touch events */
    -moz-user-select: none;
         user-select: none;
}

.keyboard {
    pointer-events: auto; /* Handle touch events */
    display: flex;
    flex-wrap: wrap;
    background:#444;
    padding:3px;
    max-width:340px;

    position: absolute;
    bottom: 0;
    right:0;
    overflow:hidden;
}

.key {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    min-width: 20%;
    margin:2px;
    background:#222;
    color: white;
}

.subkey {
    flex: 1;
    min-width: 32%;
    min-height: 32%;
    text-align:center;
    font-weight:bold;
}
